@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/hind-regular-webfont.woff") format("woff");
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/hind-semibold-webfont.woff") format("woff");
  text-rendering: optimizeLegibility; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  33% {
    opacity: 1; }
  67% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 0; }
  33% {
    opacity: 1; }
  67% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes highlight {
  25% {
    box-shadow: inset 0.5rem 0 0 0 #ced6db, inset -0.5rem 0 0 0 #ced6db; }
  50% {
    box-shadow: inset 0.5rem 0 0 0 #ced6db, inset -0.5rem 0 0 0 #ced6db; } }

@keyframes highlight {
  25% {
    box-shadow: inset 0.5rem 0 0 0 #ced6db, inset -0.5rem 0 0 0 #ced6db; }
  50% {
    box-shadow: inset 0.5rem 0 0 0 #ced6db, inset -0.5rem 0 0 0 #ced6db; } }

*,
*:after,
*:before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: 'Hind', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0; }

a {
  text-decoration: none; }

header {
  -webkit-transition-duration: 900ms;
          transition-duration: 900ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #607d8b;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2; }
  header.hide {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  header nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
        -ms-flex: 1 0;
            flex: 1 0;
    font-weight: 600;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    max-width: 60rem;
    text-align: center;
    width: 100%; }
    header nav #logo {
      height: 3rem;
      padding: 0.5rem 0; }
    header nav a {
      -webkit-transition-duration: 600ms;
              transition-duration: 600ms;
      -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
              transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      color: #ced6db;
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: 3rem;
      line-height: 3rem;
      outline: none;
      padding: 0 1rem; }
      header nav a.active, header nav a.no-touch:hover {
        color: #fff; }

#landing {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding-bottom: 6vw;
  padding-top: 0;
  position: relative;
  width: 100%; }
  #landing:target {
    -webkit-animation: none;
            animation: none; }

#greeting {
  background-color: #607d8b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%; }

#hello-world {
  -webkit-transition-duration: 900ms;
          transition-duration: 900ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  color: #fff;
  display: block;
  font-size: 16vw;
  font-weight: 400;
  line-height: 20vw;
  margin-top: -5vh;
  white-space: pre; }

#hello-world::after {
  -webkit-animation: blink 1.5s linear 0s infinite alternate;
          animation: blink 1.5s linear 0s infinite alternate;
  box-shadow: 0 0 0 1px #fff;
  content: '';
  will-change: opacity; }

#tyler-eich {
  -webkit-transition-duration: 900ms;
          transition-duration: 900ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  color: #ced6db;
  font-size: 10vw;
  font-weight: 600;
  line-height: 16vw;
  white-space: pre; }
  #tyler-eich.hide {
    opacity: 0;
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh); }

@media (orientation: landscape) {
  #hello-world {
    font-size: 10vw;
    line-height: 15vw; }
  #tyler-eich {
    font-size: 6vw;
    line-height: 10vw; } }

.ellipse {
  background: #607d8b;
  border-radius: 100%;
  height: 10vw;
  left: -5%;
  position: relative;
  top: -5vw;
  width: 110%;
  z-index: -1; }

.parallax {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  max-width: 100%; }

#content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 75rem;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  width: 100%; }

article {
  padding: 3rem 0;
  position: relative; }
  article:target {
    -webkit-animation: highlight 3000ms cubic-bezier(0.23, 1, 0.32, 1);
            animation: highlight 3000ms cubic-bezier(0.23, 1, 0.32, 1); }

h1 {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  color: #607d8b;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  margin: 1.5rem 0;
  text-align: center; }
  h1.reveal {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6); }

h2 {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  color: #727272;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1rem 0;
  text-align: center; }
  h2.reveal {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

p {
  line-height: 1.8rem; }

.grid, .gallery {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 100%; }

.grid-item, .card, .screenshot {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative; }

.card {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
  max-width: 100%;
  padding: 1rem 2rem; }
  @media (min-width: 30rem) {
    .card {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; } }
  @media (min-width: 60rem) {
    .card {
      -webkit-flex-basis: 25%;
          -ms-flex-preferred-size: 25%;
              flex-basis: 25%; } }
  .card.reveal {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .card .icon {
    fill: #445963;
    height: 10rem;
    width: 10rem; }
  .card h3 {
    color: #727272;
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem 0; }
  .card p {
    margin: 0;
    text-align: center; }

.gallery {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.screenshot-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-basis: 15rem;
      -ms-flex-preferred-size: 15rem;
          flex-basis: 15rem;
  max-width: 25rem;
  width: 100%; }
  @media (min-width: 0) {
    .screenshot-container {
      padding: 1rem; } }
  @media (min-width: 30rem) {
    .screenshot-container {
      padding: 2rem; } }

.screenshot {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0.25rem;
  cursor: pointer; }
  .screenshot.reveal {
    opacity: 0;
    -webkit-transform: translateY(1rem) scale(0.9);
            transform: translateY(1rem) scale(0.9); }
  .screenshot:hover {
    -webkit-transform: scale(1.025);
            transform: scale(1.025); }
  .screenshot figure {
    -webkit-transition-duration: 600ms;
            transition-duration: 600ms;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    background: #ced6db;
    border: 0.125rem solid #ced6db;
    border-radius: 0.25rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative; }
    .screenshot figure img {
      -webkit-transition-duration: 300ms;
              transition-duration: 300ms;
      -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
              transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      display: block;
      width: 100%; }
      .screenshot figure img.loading {
        opacity: 0; }
    .screenshot figure figcaption {
      padding: 0.5rem; }
      .screenshot figure figcaption .site-title {
        color: #445963;
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center; }
      .screenshot figure figcaption .site-description {
        color: #333; }
      .screenshot figure figcaption .attribution {
        -webkit-transition-duration: 300ms;
                transition-duration: 300ms;
        -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        color: #727272;
        font-weight: 600;
        text-align: center; }
        .screenshot figure figcaption .attribution a {
          color: inherit; }
          .screenshot figure figcaption .attribution a:visited {
            color: inherit; }
        .screenshot figure figcaption .attribution:hover {
          color: #445963; }
        .screenshot figure figcaption .attribution::before {
          color: inherit;
          content: 'via ';
          font-weight: normal; }

.icon {
  height: 100%;
  width: 100%; }

.stack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 20rem;
  padding: 1rem; }

.image-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

button,
.button {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  background: #ff6231;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  fill: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  text-align: center;
  will-change: background-color; }
  button.reveal,
  .button.reveal {
    opacity: 0;
    -webkit-transform: translateY(1rem) scale(0.9);
            transform: translateY(1rem) scale(0.9); }
  button .icon,
  .button .icon {
    height: 2rem;
    width: 2rem; }
  button .label,
  .button .label {
    font-weight: 600;
    height: 2rem;
    line-height: 2rem;
    margin: 0;
    margin-left: 1rem;
    opacity: 1; }
    button .label.reveal,
    .button .label.reveal {
      opacity: 0;
      -webkit-transform: translateX(-2rem);
              transform: translateX(-2rem); }
  button:hover,
  .button:hover {
    -webkit-transform: scale(1.025);
            transform: scale(1.025); }

.avatar {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  border-radius: 50%;
  height: 10rem;
  opacity: 1;
  width: 10rem; }
  .avatar.reveal {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.bio {
  line-height: 1.6rem;
  margin: auto;
  max-width: 20rem;
  padding: 1rem; }

footer {
  color: #ced6db;
  fill: #ced6db;
  padding: 2rem 0;
  text-align: center; }
  footer a {
    color: inherit;
    fill: inherit; }
  footer .icon {
    display: inline;
    height: 1rem;
    margin: 0 0.25rem -0.125rem;
    width: 1rem; }
