@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  33% {
    opacity: 1; }
  67% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 0; }
  33% {
    opacity: 1; }
  67% {
    opacity: 1; }
  100% {
    opacity: 0; } }

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  /* max-width: 100%; */
  /* width: 100%; */
  /* height: 100%; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* bottom: 0; */
  /* right: 0; */ }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Monsterrat", "Helvetica Neue", "Helvetica", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  overflow-x: hidden; }

.animate {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background: #607d8b;
  color: #ffffff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
  header.hide {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0; }
  header nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
        -ms-flex: 1 0;
            flex: 1 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 30rem;
    text-align: center;
    font-weight: bold; }
    header nav #logo {
      /*       flex: 0.5 1 3rem; */
      height: 3rem;
      padding: 0.5rem 0; }
    header nav a {
      outline: none;
      display: block;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
      text-decoration: none;
      color: #90a4ae;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 500ms;
              transition-duration: 500ms;
      -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
              transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
      header nav a.active, header nav a.no-touch:hover {
        color: #ffffff; }

#landing {
  width: 100%;
  height: 100%;
  padding-bottom: 6vw;
  margin: 0;
  position: relative;
  overflow: hidden; }

#greeting {
  background-color: #607d8b;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%; }

#hello-world {
  display: block;
  margin-top: -5vh;
  font-weight: 400;
  font-size: 16vw;
  line-height: 20vw;
  white-space: pre;
  color: #ffffff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

#hello-world:after {
  content: '';
  /* margin: 0.5rem; */
  box-shadow: 0 0 0 1px white;
  -webkit-animation: blink 1.5s linear 0s infinite alternate;
          animation: blink 1.5s linear 0s infinite alternate;
  will-change: opacity; }

#tyler-eich {
  color: #cfd8dc;
  white-space: pre;
  line-height: 16vw;
  font-size: 10vw;
  font-weight: 700;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

#tyler-eich.hide {
  -webkit-transform: translateY(5vh);
          transform: translateY(5vh);
  opacity: 0; }

@media (orientation: landscape) {
  #hello-world {
    font-size: 10vw;
    line-height: 15vw; }
  #tyler-eich {
    font-size: 6vw;
    line-height: 10vw; } }

.ellipse {
  position: relative;
  top: -5vw;
  background: #607d8b;
  left: -5%;
  width: 110%;
  height: 10vw;
  border-radius: 100%;
  z-index: -1; }

#content {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.accent {
  color: #ff4081;
  fill: #ff4081; }

h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  color: #455a64;
  margin: 6rem 0 1.5rem;
  text-align: center;
  /* margin-bottom: 1.5rem; */ }

h1.animate:not(.enter) {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  opacity: 0; }

h2 {
  color: #90a4ae;
  font-size: 1.8rem;
  text-align: center; }

h2.animate:not(.enter) {
  -webkit-transform: scale(0.8) translateY(-100%);
          transform: scale(0.8) translateY(-100%);
  opacity: 0; }

.icon {
  width: 100%;
  height: 100%; }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 56rem; }

.stack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /* flex-wrap: wrap; */
  max-width: 100%;
  margin: 1rem; }

.card {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 8rem;
      -ms-flex: 1 0 8rem;
          flex: 1 0 8rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  /*   min-width: 8rem; */
  /*   max-height: 12rem; */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.card.animate:not(.enter) {
  -webkit-transform: translateY(3rem) scale(0.6);
          transform: translateY(3rem) scale(0.6);
  opacity: 0; }

.card .icon {
  fill: #455a64;
  height: 6rem; }

.card .subtext {
  font-size: 1.5rem;
  color: #737373;
  margin: 1rem 0; }

/* @media ( min-width: 24rem ) and ( max-width: 48rem ) {
  .card {
    flex-basis: 8rem;
    margin: 2rem;
  }
  .card .icon {
    height: 8rem;
  }
} */
@media (min-width: 24rem) and (max-width: 48rem) {
  .grid {
    width: 24rem; } }

@media (min-width: 48rem) {
  .card {
    -webkit-flex-basis: 8rem;
        -ms-flex-preferred-size: 8rem;
            flex-basis: 8rem;
    margin: 2rem; }
  .card .icon {
    height: 8rem; } }

.image-container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* flex-basis: 15rem; */
  /* margin: 1rem; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.stack-item {
  opacity: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.button {
  /* display: flex; */
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  height: 3rem;
  background: #ff4081;
  border-radius: 0.5rem;
  fill: #ffffff;
  color: #ffffff;
  text-decoration: none;
  /* border: 1px solid $primary-light; */
  cursor: pointer;
  will-change: background-color; }

.button.animate:not(.enter) {
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
  opacity: 0; }

.button.round {
  border-radius: 50%;
  width: 5rem;
  height: 5rem; }

.button.round .label {
  display: none; }

.button .icon {
  /*   padding: 0.5rem 1rem; */
  /*   margin: 0.5rem; */
  width: 2rem;
  /* height: 5rem; */
  /*   background: $accent; */
  /*   fill: $white; */
  /*   color: $accent; */
  /*   text-decoration: none; */
  /* border: 1px solid $primary-light; */
  /*   cursor: pointer; */
  /*   will-change: background-color; */ }

.button .label {
  line-height: 2rem;
  height: 2rem;
  margin: 0;
  margin-left: 1rem;
  font-weight: bold; }

.button:hover {
  background-color: #C51162; }

/* .button .icon {
  opacity: 1;
}
.button .icon:not(.enter) {
  opacity: 0;
  transform: translateX( -1rem );
} */
.label {
  opacity: 1; }

.label.animate:not(.enter) {
  opacity: 0;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem); }

.description .separator {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin: 0.5rem auto; }

.avatar {
  height: 10rem;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  border-radius: 50%;
  /* margin-bottom: 2rem; */
  /* border: 1px solid $primary-medium; */
  opacity: 1; }

.avatar.animate:not(.enter) {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.bio {
  max-width: 20rem;
  margin: 1rem 2rem;
  padding: 0.5rem;
  line-height: 1.6rem;
  text-align: center; }

footer {
  color: #cfd8dc;
  fill: #cfd8dc;
  z-index: 3;
  margin: 2rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0; }

footer .icon {
  height: 1rem;
  width: 1rem;
  display: inline;
  margin: 0 0.25rem -0.125rem; }
/*# sourceMappingURL=style.css.map */