@import 'main';

p {
	@include main-par;
}

.logo-container {
	height: 3rem;
	padding: 0.5rem;
	position: absolute;
	width: 100%;
}

.logo {
	background-image: url( '/images/header/logo.png' );
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	width: 100%;
}

main {
	height: 100vh;
}

.center-wrapper {
	@include v-center;
}

.heading {
	// @include dynamic-padding( 2rem, 1rem );

	background: $white;
	color: $black;
	text-align: center;

	h1 {
		@include main-heading;
		@include dynamic-text( 2rem, 4rem );

		border-bottom: 1px solid;
		color: inherit;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		text-align: center;
	}

	p {
		@include main-par;
		@include dynamic-text( 1.25rem, 2rem );

		line-height: 1.5;
		text-align: center;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}


.left-wing,
.right-wing {
	background: inherit;
	height: 100%;
	position: absolute;
	top: 0;
	width: calc( 50vw - #{$width / 2} );
}

.left-wing {
	right: 100%;
}

.right-wing {
	left: 100%;
}

article {
	h1 {
		@include main-heading;

		text-transform: uppercase;
	}

	h2 {
		@include main-heading( 2 );

		font-family: $font-sans-serif;
	}
}

#return {
	text-align: center;

	.button {
		@include dynamic-text( 1.25rem, 2rem );
		// @include dynamic-padding( 0.75rem, 1.5rem );
		border-radius: 0.25rem;
	}
}
