@import 'main';
@import 'comp/responsive-nav';

#header-wrapper,
nav {
	@include dynamic-prop( 4rem, 6rem, 'height' );
}

#header-wrapper {
	color: inherit;
	// height: 8rem;
	margin: auto;
	max-width: $width;
	// min-height: 6rem;
	position: relative;
	z-index: inherit;
}

.logo {
	@include h-center;
	@include dynamic-prop( 8rem, 10rem, 'width' );

	background-image: url( '../img/logo.png' );
	height: 135%;
	z-index: 2;
}

header {
	background: $blue-dark;
	border-bottom: 0.375rem solid $gold;
	font-family: $font-sans-serif;
	font-size: 1.25rem;
	list-style: none;
	z-index: 3;

	nav {
		@include container;

		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;

		.large {
			@include bp( $small $large - 1px ) {
				display: none;
			}
		}

		.left-menu,
		.right-menu {
			height: 100%;
		}

		.left-menu {
			@include span( 5 of 12 );
		}

		.right-menu {
			@include span( 5 of 12 last );
		}

		.tabbed-menu {
			background: $grey;
			color: $blue-dark;
			height: 2rem;
			margin-top: 0.375rem;
			position: absolute;
			right: 0;
			top: 100%;
			width: span( 5 of 12 );

			$tab-width: 0.5rem;

			@function tab-edge-left( $color ) {
				@return linear-gradient( to bottom left, $color, $color 50%, transparentize( $color, 1 ) 50%, transparentize( $color, 1 ) );
			}

			@function tab-edge-right( $color ) {
				@return linear-gradient( to bottom right, $color, $color 50%, transparentize( $color, 1 ) 50%, transparentize( $color, 1 ) );
			}

			.menu-item {
				position: relative;

				&::before,
				&::after {
					content: '';
					height: 100%;
					position: absolute;
					top: 0;
					width: $tab-width;
				}

				&::before {
					left: $tab-width * -1;
				}

				&::after {
					right: $tab-width * -1;
				}
			}

			#location-link {
				background: $blue-medium;

				&::before {
					background-image: tab-edge-left( $blue-medium );
				}

				&::after {
					background-image: tab-edge-right( $blue-medium );
				}
			}

			#phone-link {
				background: $blue-light;

				&::before {
					background-image: tab-edge-left( $blue-light );
				}

				&::after {
					background-image: tab-edge-right( $blue-light );
				}
			}

			#emergency-link {
				background: $orange;

				&::before {
					background-image: tab-edge-left( $orange );
				}

				&::after {
					background-image: tab-edge-right( $orange );
				}
			}

			#contact-us-link {
				background: $gold;

				&::before {
					background-image: tab-edge-left( $gold );
				}

				&::after {
					background-image: tab-edge-right( $gold );
				}
			}
		}

		.menu-item {
			float: left;
			font-weight: bold;
			height: 100%;
			padding: 0.5rem;
			text-align: center;
			text-transform: uppercase;
			width: span( 3 of 12 );

			&.current-menu-item,
			&:active {
				background: $accent-color;
			}
		}

		a,
		.button {
			@include v-center;
			// color: #fff;
			cursor: pointer;
			display: block;
			font-family: $font-sans-serif-condensed;
			font-size: 0.75rem;
			tap-highlight-color: transparent;
			text-decoration: none;
		}

		a {
			color: inherit;
		}
	}
}
