@import 'main';
@import 'comp/hero';

// Header overrides
header {
	color: $white;
	// position: absolute;
	width: 100%;
}

@include hero( 'welcome', '../img/index', 'png' ) {
	height: 50vh;
	min-height: 60ex;
	position: relative;
	z-index: 1;

	.hero-layout-image {
		@include bp( $large ) {
			width: 50%;
		}
		height: 100%;
	}

	.overlay {
		@include bp( $small $large - 1px ) {
			background: $white-alpha;
		}
		@include bp( $large ) {
			background: linear-gradient( to right, $white-transparent, $white 38% );
		}

		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.hero-layout-body {
		@include container;
		@include main-width;
		@include h-center;

		height: 100%;
		position: absolute;
		top: 0;
	}
}

#welcome {
	@include main-width;
	@include bp( $small ) {
		@include span( 12 of 12 last );
	}
	@include bp( $large ) {
		@include span( 9 of 12 last );
		// right: 0;
	}

	// right: 8rem;
	// height: 50%;
	color: $blue-dark;
	font-family: $font-sans-serif;
	// position: absolute;
	// top: 0;

	h1 {
		// @include v-center;
		@include dynamic-text( 2rem, 3.5rem );

		color: inherit;
		line-height: 1.2;
		text-transform: uppercase;
		// text-align: center;
	}

	p {
		font-family: $font-sans-serif-condensed;
		font-weight: bold;
	}

	.search-wrapper {
		@include container;

		margin-bottom: 2rem;
		max-width: $width * 0.75;

		.search-box {
			@include span( 10 of 12 );
			@include dynamic-text( 1rem, 1.25rem );

			border: 0.125rem solid $blue-light;
			color: $black;
			display: inline-block;
			font-family: $font-serif;
			font-style: italic;
			height: 3rem;
			margin: 0;
			outline: none;
			padding: 0.5rem 1rem;

			&::placeholder {
				color: $blue-light;
			}
		}

		.search-button {
			@include span( 2 of 12 );
			@include dynamic-text( 1rem, 1.25rem );

			height: 3rem;
			margin: 0;

			.icon {
				@include h-center;
			}
		}
	}

	.pay-bills {
		@include dynamic-text( 1.5rem, 2rem );
		@include dynamic-padding( 0.25rem 0.5rem, 1.5rem 3rem )
	}
}

#breaking-news {
	background: url( '../img/static-blue-light.png' );
	background-repeat: repeat;
	background-size: 64px;
	border-style: solid;
	border-width: 0.5rem 0;
	color: $orange;

	h2 {
		color: inherit;
	}

	p {
		color: $black;
	}
}

#city-services {
	.gallery {
		padding: 4rem 0;
	}

	.gallery-item {
		@include bp( $small ) {
			@include span( 12 of 12 );
		}
		@include bp( $medium ) {
			@include span( 4 of 12 );
		}

		text-align: center;
	}

	.service-icon {
		@include h-center;

		border-radius: 50%;
		width: 10rem;
	}
}

#recent-news {
	background: url( '../img/static-blue-medium.png' );
	background-repeat: repeat;
	background-size: 64px;

	.grid {
		padding: 2rem 0;
	}

	.grid-item {
		@include bp( $small ) {
			@include span( 12 of 12 );
		}
		@include bp( $medium ) {
			@include span( 6 of 12 );
		}

		padding: 0.5rem;
	}

	.news-card {
		background: $white;
		padding: 1rem;
	}

	h3 {
		color: $black;
		// font-family: $font-sans-serif-condensed;
		margin-top: 1rem;
	}

	.more-info {
		color: $blue-medium;
	}
}

#organization-month {
	background: $blue-dark;

	#trophy-icon {
		background-image: url( '../img/index/trophy.png' );
		height: 2.5rem;
		width: 2rem;
	}

	h2 {
		color: $gold;
	}

	.description {
		color: $blue-light;
	}

	.business-card {
		@include container;
		@include dynamic-padding( 1rem 2rem );
		@include h-center;

		background: $blue-light;
		border: 1px solid $white;
		margin: 1rem 0;
		max-width: $width * 0.75;
		// padding: 1rem;
	}

	$info-margin: 0.5rem;

	.card-info,
	.card-image {
		@include bp( $small ) {
			@include span( 12 of 12 );
		}
		@include bp( $medium ) {
			@include span( 6 of 12 );
		}
	}

	.month {
		@include dynamic-text( 1.25rem, 2rem );

		color: $blue-dark;
		font-family: $font-serif;
		margin-bottom: $info-margin;
	}

	.name {
		@include dynamic-text( 1.5rem, 2.25rem );

		font-family: $font-sans-serif-condensed;
		font-weight: bold;
		margin-bottom: $info-margin;
	}

	.address,
	.phone {
		@include dynamic-text( 1rem, 1.5rem );

		font-family: $font-sans-serif-condensed;
		font-weight: bold;
	}

	.address {
		margin-bottom: $info-margin;
	}

	.card-image {
		@include bp( $small $large - 1px ) {
			margin-top: 1rem;
		}
	}

	.more-info {
		@include h-center;

		color: $white;
		max-width: $width * 0.75;
	}
}

#events-facebook {
	@include container;
	@include main-width;

	max-width: 0.75 * $width;
}

#events,
#facebook {
	@include bp( $small ) {
		@include span( 12 of 12 );
	}
	@include bp( $medium ) {
		@include span( 6 of 12 );
	}
}

#events {
	.stack {
		@include container;
		padding: 1rem 0;
	}

	.event-card {
		@include span( 12 of 12 );

		font-family: $font-sans-serif-condensed;
		font-weight: bold;
		height: 6rem;
		margin-bottom: 1rem;
		position: relative;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.event-date {
		@include span( 3 of 12 );

		background: $gold;
		height: 100%;
		padding: 0.5rem;
		text-align: center;

		.month {
			color: $blue-dark;
			font-size: 2rem;
			line-height: 1;
		}

		.day {
			color: $white;
			font-size: 3rem;
			line-height: 1;
		}
	}

	.event-details {
		@include span( 9 of 12 );

		background: $grey-light;
		height: 100%;
		padding: 0.5rem;

		.title {
			font-size: 1.25rem;
			overflow: hidden;
			padding-bottom: 0.25rem;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.detail {
			font-family: $font-sans-serif;
			font-size: 1rem;

			.label {
				font-size: 0.8rem;
				// line-height: 1rem;
				padding-right: 0.5rem;
				text-transform: uppercase;
			}

			.value {
				font-weight: bold;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}

#facebook {
	.facebook-card {
		margin-top: 1rem;
		padding: 1rem;
		background: $grey-light;
	}
}