$white: #ffffff;

// $light: 300;
$normal: 400;
$bold: 600;

$primary-light: #CED6DB;
$primary: #607D8B;
$primary-dark: #445963;
$highlight: #445963;

$accent: #FF6231;
// $accent: #ff7145;
$black: #333333;
$gray: #727272;

$transition-length: 300ms;

@mixin animate( $multipler: 1 ) {
  transition-property: all;
  transition-duration: $transition-length * $multipler;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

// @font-face {
//     font-family: 'Ubuntu';
//     src: url('fonts/ubuntu-regular.woff') format('woff');
//     font-style: normal;
//     font-weight: 400;
//     text-rendering: optimizeLegibility;
// }

// @font-face {
//     font-family: 'Ubuntu';
//     src: url('fonts/ubuntu-medium.woff') format('woff');
//     font-style: normal;
//     font-weight: 500;
//     text-rendering: optimizeLegibility;
// }

@font-face {
    font-family: 'Hind';
    src: url('/fonts/hind-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/hind-semibold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes highlight {
  25% {
    box-shadow: inset 0.5rem 0 0 0 $primary-light, inset -0.5rem 0 0 0 $primary-light;
  }
  50% {
    box-shadow: inset 0.5rem 0 0 0 $primary-light, inset -0.5rem 0 0 0 $primary-light;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  // max-width: 100%;
  height: 100%;
  // overflow-x: hidden;
  // overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  font-family: 'Hind', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  z-index: 2;
  background: $primary;
  color: $white;

  @include animate( 3 );

  &.hide {
    transform: translateY( -100% );
    opacity: 0;
  }

  nav {
    flex: 1 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    max-width: 60rem;
    // letter-spacing: 0.05rem;

    text-align: center;
    font-weight: $bold;

    #logo {
      height: 3rem;

      padding: 0.5rem 0;
    }

    a {
      outline: none;

      flex: 1;
      display: block;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;

      color: $primary-light;

      @include animate( 2 );

      &.active,
      &.no-touch:hover {
        color: $white;
      }
    }
  }
}

#landing {
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 6vw;
  margin: 0;
  position: relative;
  overflow: hidden;

  &:target {
    animation: none;
  }
}
#greeting {
  background-color: $primary;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
#hello-world {
  display: block;
  margin-top: -5vh;
  font-weight: $normal;
  font-size: 16vw;
  line-height: 20vw;
  white-space: pre;
  color: $white;

  @include animate( 3 );
}
#hello-world:after {
  content: '';
  /* margin: 0.5rem; */
  box-shadow: 0 0 0 1px $white;
  animation: blink 1.5s linear 0s infinite alternate;
  will-change: opacity;
}
#tyler-eich {
  @include animate( 3 );

  color: $primary-light;
  white-space: pre;
  line-height: 16vw;
  font-size: 10vw;
  font-weight: $bold;

  &.hide {
    transform: translateY( 5vh );
    opacity: 0;
  }
}
@media ( orientation: landscape ) {
  #hello-world {
    font-size: 10vw;
    line-height: 15vw;
  }
  #tyler-eich {
    font-size: 6vw;
    line-height: 10vw;
  }
}

.ellipse {
  position: relative;
  top: -5vw;
  background: $primary;
  left: -5%;
  width: 110%;
  height: 10vw;
  border-radius: 100%;
  z-index: -1;
}


.parallax {
  @include animate;
  max-width: 100%;
}


#content {
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  max-width: 75rem;
  margin: auto;
  // display: flex;
  flex-direction: column;
  align-items: center;
}


article {
  padding: 3rem 0;
  position: relative;

  &:target {
    animation: highlight 5000ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}


h1 {
  @include animate;

  font-size: 4rem;
  line-height: 5rem;
  font-weight: $bold;
  color: $primary;
  margin: 1.5rem 0;
  text-align: center;

  &.animate:not( .enter ) {
    transform: scale( 1.6 );
    opacity: 0;
  }
}


h2 {
  @include animate;

  color: $gray;
  font-size: 2.5rem;
  text-align: center;
  font-weight: $normal;
  margin: 1rem 0;
  // letter-spacing: 0.125rem;

  &.animate:not( .enter ) {
    transform: scale( 1.2 );
    opacity: 0;
  }
}

p {
  line-height: 1.8rem;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 100%;
}


.grid-item {
  @include animate;

  display: flex;
  margin: 0;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}


.card {
  @extend .grid-item;

  flex: 0 1 100%;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 1rem 0;
  padding: 1rem 2rem;

  @media (min-width: 30rem) {
    flex-basis: 50%;
  }
  @media (min-width: 60rem) {
    flex-basis: 25%;
  }

  &.animate:not( .enter ) {
    transform: scale( 1.1 );
    opacity: 0;
  }

  .icon {
    fill: $highlight;
    height: 10rem;
    width: 10rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: $normal;
    color: $gray;
    margin: 1rem 0;
  }
  p {
    text-align: center;
    margin: 0;
  }
}


.gallery {
  @extend .grid;

  justify-content: center;
}


.screenshot-container {
  @media (min-width: 0) {
    padding: 1rem;
  }
  @media (min-width: 30rem) {
    padding: 2rem;
  }
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex: 1;
}

.screenshot {
  @include animate;
  @extend .grid-item;

  cursor: pointer;
  // width: 100%;
  
  // min-width: 20rem;
  // margin: 2rem;

  // max-width: 20rem;
  border-radius: 0.25rem;

  // box-shadow: 0 0.125rem 0.25rem transparentize($black, 0.5);

  &.animate:not( .enter ) {
    transform: translateY( 1rem ) scale( 0.9 );
    opacity: 0;
  }

  &:hover {
    // transform: translateY( -0.5rem );
    // box-shadow: 0 0.5rem 1rem transparentize($black, 0.5);
    transform: scale( 1.025 );
  }

  // @media (min-width: 30rem) {
  //   flex-basis: calc( 50% - 2rem );
  // }

  figure {
    @include animate( 2 );

    flex: 1;
    position: relative;

    margin: 0;
    padding: 0;
    border-radius: inherit;

    background: $white;
    // margin: 2rem;
    border: 0.125rem solid $primary-light;
    border-radius: 0.25rem;

    position: relative;
    overflow: hidden;

    &:hover {
      // transform: scale( 1.1 );
    }

    img {
      @include animate;
      
      width: 100%;
      display: block;

      &.loading {
        opacity: 0;
      }
    }

    figcaption {
      .site-title {
        color: $primary-dark;
        font-weight: $bold;
        font-size: 1.25rem;
        padding-bottom: 0.25rem;
        text-align: center;
      }
      .site-description {
        color: $black;
        padding-bottom: 0.25rem;
      }
      .attribution {
        padding-top: 0.25rem;
        font-weight: $bold;
        color: $gray;
        text-align: center;

        a {
          color: inherit;
          @include animate;
        }

        &:hover {
          color: $primary-dark;
        }

        a:visited {
          color: inherit;
        }

        &:before {
          content: 'via ';
          font-weight: normal;
          color: inherit;
        }
      }
      // width: 100%;
      // margin: 0;

      // position: absolute;
      // bottom: 0;
      background: $primary-light;
      // color: $primary-light;
      border-top: 0.125rem solid $primary-light;
      padding: 1rem;
    }
  }
}
.icon {
  width: 100%;
  height: 100%;
}
.stack {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  max-width: 20rem;
  margin: auto;
  padding: 1rem;
}

/* @media ( min-width: 24rem ) and ( max-width: 48rem ) {
  .card {
    flex-basis: 8rem;
    margin: 2rem;
  }
  .card .icon {
    height: 8rem;
  }
} */
// @media ( min-width: 24rem ) and ( max-width: 48rem ) {
//   .grid {
//     width: 24rem;
//   }
// }
// @media ( min-width: 48rem ) {
//   .card {
//     flex-basis: 8rem;
//     margin: 2rem;
//   }
//   .card .icon {
//     height: 8rem;
//   }
// }

.image-container {
  justify-content: center;
  /* flex-basis: 15rem; */
  /* margin: 1rem; */
  display: flex;
  align-items: center;
}

button,
.button {
  @include animate( 2 );

  display: flex;
  padding: 1rem 1.5rem;
  margin: 1rem 0;

  text-align: center;
  line-height: 1;
  // height: 3rem;
  font-size: 1.5rem;
  font-weight: $bold;

  // background: radial-gradient(ellipse at 50% 0 , lighten($accent, 10%), $accent);
  background: $accent;
  border-radius: 0.25rem;
  fill: $white;
  color: $white;
  // color: $accent;
  font-family: inherit;
  cursor: pointer;
  will-change: background-color;

  &.animate:not( .enter ) {
    transform: translateY( 1rem ) scale( 0.9 );
    opacity: 0;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }

  .label {
    line-height: 2rem;
    height: 2rem;
    margin: 0;
    margin-left: 1rem;
    font-weight: $bold;
    opacity: 1;

    &.animate:not( .enter ) {
      opacity: 0;
      transform: translateX( -2rem );
    }

  }
  &:hover {
    // background-color: $accent;
    // fill: $white;
    // color: $white;
    // transform: translateY( -0.5rem );
    transform: scale( 1.025 );
    // box-shadow: 0 0.5rem 1rem transparentize($black, 0.5);
  }

}

.avatar {
  @include animate;
  height: 10rem;
  width: 10rem;
  align-self: flex-start;
  border-radius: 50%;
  opacity: 1;

  &.animate:not( .enter ) {
    opacity: 0;
    transform: scale( 1.1 );
  }
}

.bio {
  max-width: 20rem;
  margin: auto;
  padding: 1rem;
  line-height: 1.6rem;
  // text-align: center;
}

footer {
  color: $primary-light;
  fill: $primary-light;
  padding: 2rem 0;
  text-align: center;

  a {
    color: inherit;
    fill: inherit;
  }

  .icon {
    height: 1rem;
    width: 1rem;
    display: inline;
    margin: 0 0.25rem -0.125rem;
  }
}
