$white: #fff;

// $light: 300;
$normal: 400;
$bold: 600;

$primary-light: #ced6db;
$primary: #607d8b;
$primary-dark: #445963;
$highlight: #445963;

$accent: #ff6231;
$black: #333;
$gray: #727272;

$transition-length: 300ms;

@mixin animate( $multipler: 1 ) {
  transition-duration: $transition-length * $multipler;
  transition-timing-function: cubic-bezier( 0.23, 1, 0.32, 1);
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/hind-regular-webfont.woff') format('woff');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/hind-semibold-webfont.woff') format('woff');
  text-rendering: optimizeLegibility;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes highlight {
  25% {
    box-shadow: inset 0.5rem 0 0 0 $primary-light, inset -0.5rem 0 0 0 $primary-light;
  }
  50% {
    box-shadow: inset 0.5rem 0 0 0 $primary-light, inset -0.5rem 0 0 0 $primary-light;
  }
}

*,
*:after,
*:before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  font-family: 'Hind', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  @include animate( 3 );

  align-items: center;
  background: $primary;
  color: $white;
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  &.hide {
    opacity: 0;
    transform: translateY( -100% );
  }

  nav {
    align-items: center;
    display: flex;
    flex: 1 0;
    font-weight: $bold;
    justify-content: space-around;
    max-width: 60rem;
    text-align: center;
    width: 100%;

    #logo {
      height: 3rem;

      padding: 0.5rem 0;
    }

    a {
      @include animate( 2 );

      color: $primary-light;
      display: block;
      flex: 1;
      height: 3rem;
      line-height: 3rem;
      outline: none;
      padding: 0 1rem;

      &.active,
      &.no-touch:hover {
        color: $white;
      }
    }
  }
}

#landing {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding-bottom: 6vw;
  padding-top: 0;
  position: relative;
  width: 100%;

  &:target {
    animation: none;
  }
}

#greeting {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#hello-world {
  @include animate( 3 );

  color: $white;
  display: block;
  font-size: 16vw;
  font-weight: $normal;
  line-height: 20vw;
  margin-top: -5vh;
  white-space: pre;
}

#hello-world::after {
  animation: blink 1.5s linear 0s infinite alternate;
  box-shadow: 0 0 0 1px $white;
  content: '';
  will-change: opacity;
}

#tyler-eich {
  @include animate( 3 );

  color: $primary-light;
  font-size: 10vw;
  font-weight: $bold;
  line-height: 16vw;
  white-space: pre;

  &.hide {
    opacity: 0;
    transform: translateY( 5vh );
  }
}

@media ( orientation: landscape ) {
  #hello-world {
    font-size: 10vw;
    line-height: 15vw;
  }

  #tyler-eich {
    font-size: 6vw;
    line-height: 10vw;
  }
}

.ellipse {
  background: $primary;
  border-radius: 100%;
  height: 10vw;
  left: -5%;
  position: relative;
  top: -5vw;
  width: 110%;
  z-index: -1;
}


.parallax {
  @include animate;

  max-width: 100%;
}


#content {
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 75rem;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}


article {
  padding: 3rem 0;
  position: relative;

  &:target {
    animation: highlight 5000ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}


h1 {
  @include animate;

  color: $primary;
  font-size: 4rem;
  font-weight: $bold;
  line-height: 5rem;
  margin: 1.5rem 0;
  text-align: center;

  &.reveal {
    opacity: 0;
    transform: scale( 1.6 );
  }
}


h2 {
  @include animate;

  color: $gray;
  font-size: 2.5rem;
  font-weight: $normal;
  margin: 1rem 0;
  text-align: center;

  &.reveal {
    opacity: 0;
    transform: scale( 1.2 );
  }
}

p {
  line-height: 1.8rem;
}

.grid {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}


.grid-item {
  @include animate;

  display: flex;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}


.card {
  @extend .grid-item;
  @media (min-width: 30rem) {
    flex-basis: 50%;
  }
  @media (min-width: 60rem) {
    flex-basis: 25%;
  }

  align-items: center;
  flex: 0 1 100%;
  flex-direction: column;
  margin: 1rem 0;
  max-width: 100%;
  padding: 1rem 2rem;

  &.reveal {
    opacity: 0;
    transform: scale( 1.1 );
  }

  .icon {
    fill: $highlight;
    height: 10rem;
    width: 10rem;
  }

  h3 {
    color: $gray;
    font-size: 2rem;
    font-weight: $normal;
    margin: 1rem 0;
  }

  p {
    margin: 0;
    text-align: center;
  }
}


.gallery {
  @extend .grid;

  justify-content: center;
}


.screenshot-container {
  @media (min-width: 0) {
    padding: 1rem;
  }
  @media (min-width: 30rem) {
    padding: 2rem;
  }

  display: flex;
  flex: 1;
  flex-basis: 15rem;
  max-width: 25rem;
  width: 100%;
}

.screenshot {
  @include animate;
  @extend .grid-item;

  border-radius: 0.25rem;
  cursor: pointer;

  &.reveal {
    opacity: 0;
    transform: translateY( 1rem ) scale( 0.9 );
  }

  &:hover {
    // transform: translateY( -0.5rem );
    // box-shadow: 0 0.5rem 1rem transparentize($black, 0.5);
    transform: scale( 1.025 );
  }

  // @media (min-width: 30rem) {
  //   flex-basis: calc( 50% - 2rem );
  // }

  figure {
    @include animate( 2 );

    background: $primary-light;
    border: 0.125rem solid $primary-light;
    border-radius: 0.25rem;
    flex: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    img {
      @include animate;
      
      display: block;
      width: 100%;

      &.loading {
        opacity: 0;
      }
    }

    figcaption {
      // background: $primary-light;
      // border-top: 0.125rem solid $primary-light;
      padding: 0.5rem;

      .site-title {
        color: $primary-dark;
        font-size: 1.25rem;
        font-weight: $bold;
        // padding-bottom: 0.25rem;
        text-align: center;
      }

      .site-description {
        color: $black;
        // padding-bottom: 0.25rem;
      }

      .attribution {
        @include animate;

        color: $gray;
        font-weight: $bold;
        // padding-top: 0.25rem;
        text-align: center;

        a {
          color: inherit;

          &:visited {
            color: inherit;
          }
        }

        &:hover {
          color: $primary-dark;
        }

        &::before {
          color: inherit;
          content: 'via ';
          font-weight: normal;
        }
      }
    }
  }
}
.icon {
  height: 100%;
  width: 100%;
}
.stack {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 20rem;
  padding: 1rem;
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

button,
.button {
  @include animate( 2 );

  background: $accent;
  border-radius: 0.25rem;
  color: $white;
  cursor: pointer;
  display: flex;
  fill: $white;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: $bold;
  line-height: 1;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  text-align: center;
  will-change: background-color;

  &.reveal {
    opacity: 0;
    transform: translateY( 1rem ) scale( 0.9 );
  }

  .icon {
    height: 2rem;
    width: 2rem;
  }

  .label {
    font-weight: $bold;
    height: 2rem;
    line-height: 2rem;
    margin: 0;
    margin-left: 1rem;
    opacity: 1;

    &.reveal {
      opacity: 0;
      transform: translateX( -2rem );
    }

  }
  &:hover {
    transform: scale( 1.025 );
  }

}

.avatar {
  @include animate;

  align-self: flex-start;
  border-radius: 50%;
  height: 10rem;
  opacity: 1;
  width: 10rem;

  &.reveal {
    opacity: 0;
    transform: scale( 1.1 );
  }
}

.bio {
  line-height: 1.6rem;
  margin: auto;
  max-width: 20rem;
  padding: 1rem;
}

footer {
  color: $primary-light;
  fill: $primary-light;
  padding: 2rem 0;
  text-align: center;

  a {
    color: inherit;
    fill: inherit;
  }

  .icon {
    display: inline;
    height: 1rem;
    margin: 0 0.25rem -0.125rem;
    width: 1rem;
  }
}
