/* Styles go here */

/* @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300); */

@keyframes blink {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes background-scroll {
  from {
    transform: translate3d( 0, 0, 0 );
  }
  50% {
    transform: translate3d( 0, -1364px, 0 );
  }
  to {
    transform: translate3d( 0, 0, 0 );
  }
}

html {
  /* transform: translateZ(0); */
  /* will-change: scroll-position; */
}

html, body {
  background: white;
  color: black;
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;

  /* font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: "Roboto Mono";
  box-sizing: border-box;
  position: relative;
  -webkit-font-smoothing: antialiased;
  /* transform: translate3d(0,0,0); */
}

html {
  background-color: rgb(21,23,24);
}

/* body {
  background-size: auto 1364px;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 50%;
  animation: background-scroll 60s linear infinite;
  background-image: url('scrolling-header.png');
}
 */
/* body:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: auto 1364px;
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-attachment: fixed;
  animation: background-scroll 120s linear infinite;
  background-image: url('blurred-background.png');
  -webkit-filter: blur( 20px );
  will-change: scroll-position;
} */

#background-tiles {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
/*   animation: background-scroll 5s linear infinite; */
}

.background {
  /* content: ''; */
  position: fixed;
  top: 0;
  /* bottom: 0; */
  left: 0;
  /* right: 0; */
  width: 100%;
  height: 4092px;
  background-size: auto 1364px;
  background-repeat: repeat-y;
  background-position: 50% 0;
  /* background-attachment: fixed; */
  /* -webkit-animation: background-scroll 120s linear infinite; */
  background-image: url('blurred-background.png');
  animation: background-scroll 60s ease-in-out infinite;
  /* -webkit-filter: blur( 20px ); */
  /* will-change: scroll-position; */
  /* transform: translateZ(0); */
}

.footnote {
  font-size: 1rem;
  margin-left: 2ch;
  padding-bottom: 1.5rem;
}

.footnote:before {
  content: '*';
  margin-left: -2ch;
}

#landing {
  width: 100%;
  height: 61vmin;
  display: table;
  position: relative;
  /* background-size: auto 1364px; */
  /* background-repeat: repeat-y; */
  /* background-position: 50% 0; */
  /* background-attachment: fixed; */
  /* overflow: hidden; */
  /* animation: background-scroll 5s linear infinite; */
  /* background-image: url('scrolling-header.png'); */
  /* transform: translateZ(0); */
  /* will-change: scrolling-position; */
  /* display: none; */
  /* overflow: hidden; */
}

#landing-background-tiles {
    position: absolute;   top: 0;
    left: 0;
    width: 100%;   height: 100%;   overflow: hidden;   z-index: 0;

}

.landing-background {
/*   position: absolute; */
  width: 100%;
  height: 4092px;
  background-image: url('scrolling-header.png');
  background-size: auto 1364px;
/*   background-repeat: repeat-y; */
  background-position: 50% 0;
  animation: background-scroll 60s ease-in-out infinite;
  position: fixed;
}

.landing-background img {
  height: 1364px;

}

#hello-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  display: table-cell;
  /* vertical-align: middle; */
  text-align: center;
  /* background-image: url('scrolling-header.png'); */
  /* background-size: auto 1364px; */
  /* background-repeat: repeat-y; */
  /* background-position: 50% 0; */
  /* background: rgba( 0,0,0,0.75 ); */
  /* top: 0; */
  /* left: 0; */
  /* bottom: 0; */
  /* right: 0; */
}

main {
  padding: 0;
  max-width: 80ch;
  margin: auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-image: url('blurred-background.png'); */
  /* background-attachment: fixed; */
  /* background-size: auto 130%; */
  /* background-position: 50% 0; */
}

#gutter {
  position: absolute;
  left: 0;
  top: 0;

  background: #f0f0f0;

  height: 100%;
  width: 6ch;
}
#content {
  /* margin-left: 8ch; */
  /* padding-right: 2ch; */
  padding: 4ch;
  /* border-right: 1px solid #f0f0f0; */
  height: 100%
}
.line-number {
  margin: 0;
  padding: 0;
  text-align: center;
  /* padding-right: 2ch; */
  color: #c0c0c0;
}
h1 {
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  /* font-family: "Inconsolata"; */
  /* font-family: "Roboto Mono"; */
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 600;
  color: rgba(148, 188, 207, 0.5);
  margin: 0;
  margin-top: 2rem;
}

h2 {
  line-height: 3rem;
  font-size: 1.5rem;
  color: rgba(255,255,255,0.5);
  margin: 0;
  font-family: "Inconsolata";
}

ul {
  margin: 0;
  padding: 0;
  font-weight: 500;
  list-style-position: inside;
  color: white;
}
ul:before {
  content: '[';
  font-weight: bold;
  color: rgba(148, 188, 207, 0.5);
}
ul:after {
  content: ']';
  font-weight: bold;
  color: rgba(148, 188, 207, 0.5);
}

li {
  list-style: none;
  padding-left: 2ch;
  line-height: 2rem;
  /* font-weight: 500; */
}
li:not(:last-of-type):after {
  content: ',';
  margin-left: -1ch;
  color: rgba(148, 188, 207, 0.5);
  font-weight: bold;
}

p {
  font-family: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
  padding-bottom: 1rem;
  color: white;
}
#hello-world {
  display: inline;
  /* vertical-align: middle; */
  /* text-align: center; */
  color: white;

  text-shadow: 0 0 8vw black;
}

#hello-world {
  display: block;
  padding: 2vh;
  font-weight: 500;
  font-size: 10vw;
  line-height: 10vw;
  white-space: pre;
  padding-top: calc( -5vw + 61vmin / 2);
  /* font-family: "Source Code Pro", "Courier New", Courier, monospace; */
  /* background-color: rgba(0,0,0,0.75); */
  /* background-image: url('blurred-background.png'); */
  /* background-attachment: fixed; */
  /* background-position: 50% 0; */
}

#hello-world:after {
  content: '';
  box-shadow: 0 0 0 1px white;
  animation: blink 1.5s linear 0s infinite alternate;
  will-change: opacity;
}
