@mixin main-heading( $level: 1 ) {
	$min: 1rem + ( 0.5rem / $level );
	$max: 1.5rem + ( 1rem / $level );
	@include dynamic-text( $min, $max );

	text-align: center;
	text-transform: uppercase;
}

@mixin main-par {
	@include dynamic-text( 1rem, 1.5rem );
}
