title Tyler Eich · Web Developer
meta(charset='UTF-8')
meta(name='description', content='Tyler Eich is a freelance web developer with a focus on responsive design and optimized content')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
link(rel='icon', type='image/png', href='favicon.png')
link(rel='stylesheet', href='styles/style.css')
