@import 'vars';

@each $name, $color in $color-list {
	.bg-#{$name} {
		background-color: $color;
	}
}

.bg-gradient-1 {
	background-image: linear-gradient(to bottom right, adjust-hue($primary, 15deg), $primary);
}

.bg-gradient-2 {
	background-image: linear-gradient(to bottom right, $primary, adjust-hue($primary, 15deg));
}

.bg-gradient-black {
	background-image: linear-gradient(to bottom right, $black, darken($black, 16.7%));
}
