@import 'vars';

.input {
	@include animate;

  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  border: $border-width solid $white;
  border-radius: $border-radius;
	-webkit-appearance: none;
	outline: 0;

	&:focus {
		border-color: $primary-dark;
	}
}

.textarea {
	@include animate;

  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: $border-width solid $white;
  border-radius: $border-radius;
  box-sizing: border-box;
	resize: none;
	outline: 0;
	-webkit-appearance: none;

	&:focus {
		border-color: $primary-dark;
	}
}
