@import 'vars';

.link {
	@include animate(2);

	box-shadow: inset 0 -0.125rem transparentize($primary-light, 0.5);
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: transparentize($primary-light, 0.5);
	}
}
