head
  title Tyler Eich · Web Developer
  meta(charset='UTF-8')
  meta(name='description', content='Tyler Eich is a freelance web developer with a focus on speed and optimization')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(rel='icon', type='image/png', href='favicon.png')
  //- link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,500', rel='stylesheet', type='text/css')
  //- link(rel='stylesheet', href='css/style.css')
  style
    include ../../css/style.css
