header.hide
	nav.animate
		a.link.animate(href='#landing')
			img#logo(src='images/logo.svg')
		a.link.no-touch(href='#websites') Websites
		a.link.no-touch(href='#code') Code
		a.link.no-touch(href='#me') Me
